@charset "UTF-8";
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1 {
  font-size: 2.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.menu-btn {
  margin-right: 1rem;
  cursor: pointer;
}
.menu-btn svg {
  fill: #ffffff;
  height: 2.5em;
  width: 2.5em;
}

.header {
  background-color: transparent;
  height: 4rem;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  padding: 0.5em 1em;
}

.nav {
  position: fixed;
  left: 0;
  top: 4rem;
  width: 100%;
  opacity: 0;
  color: black;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.nav.is-active {
  opacity: 1;
  pointer-events: auto;
}
.nav__list {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__list li {
  color: #ffffff;
  padding: 0.4rem;
  margin-top: 0.5rem;
}
.nav__list:last-child {
  margin-bottom: 1rem;
}
.nav__list a {
  width: auto;
  padding-top: 0.2rem;
  text-align: center;
  transition: all 0.4s ease;
}
.nav__list a:hover {
  color: #4173f9;
  border-bottom: 2px solid #4173f9;
}

.imagen-ppal {
  background-image: url(../assets/img/pexels-photo-897271.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.imagen-ppal__opacity {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

.none {
  display: none;
}

.header-background {
  background-color: rgba(65, 115, 249, 0.9);
  transition: all 0.5s ease;
}

@media screen and (min-width: 900px) {
  .nav {
    position: static;
    opacity: 1;
    pointer-events: auto;
  }
  .nav__list {
    background-color: transparent;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .nav__list li {
    margin-right: 0.5rem;
  }
  .nav__list:last-child {
    margin-bottom: 0;
  }
  .menu-btn {
    display: none;
  }
  .header__text p {
    font-size: 3rem;
  }
  .btn-text {
    width: 30rem;
  }
  .aditional-info {
    flex-direction: row;
    justify-content: space-around;
  }
  .info_img {
    width: 22rem;
    height: 22rem;
  }
  .info_text {
    width: 22rem;
    height: 22rem;
  }
}
@media screen and (min-width: 1024px) {
  .header-btn {
    width: 20rem;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .block-1 {
    grid-column: 2;
  }
  .btn-text {
    width: 15rem;
  }
  .info_img {
    width: 25rem;
    height: 25rem;
  }
  .info_text {
    width: 25rem;
    height: 25rem;
  }
  .footer {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}/*# sourceMappingURL=style.css.map */