@charset "UTF-8";
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1 {
  font-size: 2.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.menu-btn {
  margin-right: 1rem;
  cursor: pointer;
}
.menu-btn svg {
  fill: #ffffff;
  height: 2.5em;
  width: 2.5em;
  transition: all 0.4s ease;
}
.menu-btn svg:hover {
  fill: #ff0000;
}

.btn {
  background-color: #ff0000;
  color: #ffffff;
  transition: all 0.8s ease;
  width: 10em;
  height: 3em;
  border-radius: 33px;
  cursor: pointer;
}
.btn:hover {
  background-color: #ffffff;
  color: #ff0000;
}

.btn-reserva {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  /* font-family: ; */
  font-weight: bold;
}
.btn-reserva span {
  margin-left: 1rem;
  color: #ff0000;
  opacity: 0;
  transition: all 0.5s ease;
}
.btn-reserva:hover span {
  opacity: 1;
}

.header {
  background-color: transparent;
  height: 4rem;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  padding: 0.5em 1em;
}

.nav {
  position: fixed;
  left: 0;
  top: 4rem;
  width: 100%;
  opacity: 0;
  color: black;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.nav.is-active {
  opacity: 1;
  pointer-events: auto;
}
.nav__list {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__list li {
  color: #ffffff;
  padding: 0.4rem;
  margin-top: 0.5rem;
  width: 100%;
  transition: all 0.5s ease;
}
.nav__list li:hover {
  border: 1px solid #ff0000;
}
.nav__list li:hover a {
  color: #ff0000;
}
.nav__list:last-child {
  margin-bottom: 1rem;
}
.nav__list a {
  text-shadow: none;
  width: auto;
  padding-top: 0.2rem;
  width: 100%;
  text-align: center;
  transition: all 0.5s ease;
}

.imagen-ppal {
  background-image: url(../assets/img/pexels-photo-897271.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.imagen-ppal__opacity {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin-top: 1rem;
  /* font-family: ; */
}
.info h2 {
  text-align: center;
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.general-info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin: 1rem 1rem;
}

.general-info__img {
  /*   margin: 1rem 1rem; */
  background-color: yellow;
  height: 30rem;
}

.general-info__text {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.general-info__text p {
  text-align: justify;
}

.none {
  display: none;
}

.header-background {
  background-color: rgba(65, 115, 249, 0.9);
  transition: all 0.8s ease;
}

.logo-wp {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 998;
}

.click_citas {
  /* usar ara cuando se seleccione la cita */
  background-color: #4173f9;
  color: #ffffff;
}

.citas-opacity {
  opacity: 0;
}

.active-page {
  color: #ff0000;
}

.centrar {
  width: 100%;
}

.contenedor-cita {
  color: #ffffff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.cita {
  /*   height: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cita-encabezado {
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.crear-cita {
  font-size: 1.7rem;
}

.usuario-citas {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.usuario-sesion {
  font-size: 1rem;
  font-weight: 1000;
  transition: all 0.5s ease;
}
.usuario-sesion:hover {
  color: #ff0000;
}

.cita-selector {
  margin-top: 1rem;
  width: 100%;
}
.cita-selector ul {
  background-color: #ffffff;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cita-selector ul li {
  color: #ff0000;
  border: 2px solid #ff0000;
  display: flex;
  justify-content: center;
  padding: 0.2rem 0.5rem;
}
.cita-selector ul li:hover {
  background-color: #4173f9;
  color: #ffffff;
  transition: all 0.5s ease;
}
.cita-selector ul li button {
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
}
.cita-selector ul li button:hover {
  cursor: pointer;
}

.contenedor-cita__servicios {
  margin-top: 1rem;
}
.contenedor-cita__servicios h2,
.contenedor-cita__servicios p {
  text-align: center;
}

.bloque-servicios {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
.bloque-servicios__servicio {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 6em;
  border: 2px solid #ff0000;
  border-radius: 18px;
}
.bloque-servicios__servicio h3 {
  color: #4173f9;
  text-align: center;
}
.bloque-servicios__servicio strong {
  font-weight: bold;
  font-size: 1.2rem;
  color: #4173f9;
  text-align: center;
}
.bloque-servicios__servicio:hover {
  background-color: #4173f9;
  color: #ffffff;
  transition: all 0.5s ease;
  cursor: pointer;
}
.bloque-servicios__servicio:hover h3 {
  color: #ffffff;
}
.bloque-servicios__servicio:hover strong {
  color: #ffffff;
}

.contenedor-cita__info-cita {
  width: 100%;
  margin-top: 1rem;
}
.contenedor-cita__info-cita h2,
.contenedor-cita__info-cita p {
  text-align: center;
  margin-top: 1rem;
}
.contenedor-cita__info-cita p {
  margin-bottom: 1rem;
}
.contenedor-cita__info-cita div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-cita__info-cita div label {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  width: 7rem;
}
.contenedor-cita__info-cita input {
  border: 1px solid #ffffff;
  border-radius: 16px;
  background-color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
  margin-bottom: 2rem;
  width: 100%;
}
.contenedor-cita__info-cita .info-cita_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cita-btn {
  background-color: #ffffff;
  border: 1px solid #ff0000;
  color: #ff0000;
  width: 10rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.6rem 1rem;
  cursor: pointer;
}
.cita-btn:hover {
  background-color: #4173f9;
  color: #ffffff;
  transition: all 0.5s ease;
}

.resumen {
  width: 100%;
  margin-top: 2rem;
}
.resumen h2 {
  text-align: center;
}
.resumen .resumen-cita {
  margin-top: 1rem;
}
.resumen .resumen-servicios {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #ffffff;
}
.resumen .resumen-btn {
  margin-top: 1rem;
}
.resumen .resumen-btn .cita-btn {
  margin-left: auto;
  margin-right: auto;
}
.resumen .resumen-btn button {
  margin-top: 3rem;
}

.contact-form {
  /*   background-color: white; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.contact-form legend {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}
.contact-form input[type=submit] {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.input-text {
  width: 90%;
  border: 1px solid #ffffff;
  border-radius: 16px;
  background-color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  resize: none;
}

.tienda {
  padding-top: 9rem;
  padding-bottom: 2rem;
  background-image: url(../assets/img/depositphotos_71389881-stock-photo-vintage-equipment-of-a-barber.jpg);
  width: 100%;
}
.tienda h2 {
  color: #ffffff;
  padding-bottom: 1rem;
  text-align: center;
}
.tienda input {
  width: 70%;
  background-color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 16px;
  padding: 0.5rem 0.5rem;
}
.tienda::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: red;
  /*   background-color: map-get($colors, dark-color-shadow); */
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search svg {
  width: 5rem;
  cursor: pointer;
  fill: transparent;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}
.search svg:hover {
  /*   fill: map-get($colors, white-color); */
  opacity: 1.5;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.cards__card {
  border: 1px solid black;
  width: 90%;
  height: 20rem;
  background-color: white;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.cards__card:hover .block-cart {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
          clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  transition: -webkit-clip-path 0.5s ease;
  transition: clip-path 0.5s ease;
  transition: clip-path 0.5s ease, -webkit-clip-path 0.5s ease;
}
.cards__card:hover .block-cart svg {
  opacity: 1;
  transition: opacity 1s ease;
}

.card-img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 15rem;
  background-color: red;
  position: relative;
}

.card-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.card-texto p,
.card-texto strong {
  text-align: center;
}

.block-cart {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.block-cart svg {
  cursor: pointer;
  opacity: 0;
}

.acceso {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.acceso h2 {
  text-align: center;
  padding: 3rem;
}

.form-sesion {
  width: 90%;
  padding-bottom: 2rem;
}
.form-sesion__email, .form-sesion__password, .form-sesion__nombre, .form-sesion__apellido, .form-sesion__phone {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-sesion__email label, .form-sesion__password label, .form-sesion__nombre label, .form-sesion__apellido label, .form-sesion__phone label {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  width: 7rem;
}
.form-sesion__email input, .form-sesion__password input, .form-sesion__nombre input, .form-sesion__apellido input, .form-sesion__phone input {
  border: 1px solid #ffffff;
  border-radius: 16px;
  background-color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
  margin-bottom: 2rem;
  width: 100%;
}
.form-sesion__enviar {
  width: 100%;
}

.crear-cuenta {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* modal */
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
  width: 80%;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
}

.modal#gracias:target {
  opacity: 0;
  pointer-events: none;
}

.form-sesion-response {
  padding: 1rem;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}
.form-sesion-response h3 {
  margin-bottom: 1rem;
}

.footer {
  background-color: rgba(65, 115, 249, 0.9);
  color: #ffffff;
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 2rem;
}
.footer__dir {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__dir h3,
.footer__dir p {
  text-align: center;
}
.footer__redes {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__redes a svg {
  fill: #4173f9;
  transition: all 0.8s ease;
}
.footer__redes a svg:hover {
  fill: #ff0000;
}
.footer__derechos {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .btn-reserva {
    width: 15em;
  }
}
@media screen and (min-width: 768px) {
  .main-citas {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .centrar {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 900px) {
  .nav {
    position: static;
    opacity: 1;
    pointer-events: auto;
  }
  .nav__list {
    background-color: transparent;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .nav__list li {
    margin-right: 0.5rem;
  }
  .nav__list li:hover {
    border: 0;
  }
  .nav__list:last-child {
    margin-bottom: 0;
  }
  .menu-btn {
    display: none;
  }
  .header__text p {
    font-size: 3rem;
  }
  .btn-text {
    width: 30rem;
  }
  .aditional-info {
    flex-direction: row;
    justify-content: space-around;
  }
  .info_img {
    width: 22rem;
    height: 22rem;
  }
  .info_text {
    width: 22rem;
    height: 22rem;
  }
  .general-info {
    grid-template-columns: repeat(2, 1fr);
  }
  .general-info .change-img {
    grid-column: 2;
  }
  .general-info .change-text {
    grid-column: 1;
    grid-row: 2;
  }
  .contact-form {
    width: 50rem;
  }
  .contact-form input[type=submit] {
    width: 20rem;
  }
  .search input {
    width: 40%;
  }
  .form-sesion {
    width: 50rem;
  }
}
@media screen and (min-width: 1024px) {
  .header-btn {
    width: 20rem;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .block-1 {
    grid-column: 2;
  }
  .btn-text {
    width: 15rem;
  }
  .info_img {
    width: 25rem;
    height: 25rem;
  }
  .info_text {
    width: 25rem;
    height: 25rem;
  }
  .footer {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .contenedor-cita {
    width: 50%;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=style.css.map */