.contenedor-cita {
  font-family: $fontgral;
  color: map-get($colors, white-color);
  width: 90%;
  @include margin-lat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.cita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cita-encabezado {
  font-family: $font-title;

  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.crear-cita {
  font-size: 1.7rem;
}
.texto-cita {
}
.usuario-citas {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.usuario {
}
.usuario-sesion {
  font-size: 1rem;
  font-weight: 1000;
  transition: all 0.5s ease;
  cursor: pointer;
  &:hover {
    color: map-get($colors, red-color);
  }
}

.cita-selector {
  margin-top: 1rem;
  width: 95%;
  @include margin-lat;
  ul {
    background-color: map-get($colors, white-color);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    li {
      color: map-get($colors, red-color);
      border: 2px solid map-get($colors, red-color);
      display: flex;
      justify-content: center;

      &:hover {
        background-color: map-get($colors, second-color);
        color: map-get($colors, white-color);
        transition: all 0.5s ease;
      }

      button {
        width: 100%;
        font-size: 1rem;
        font-weight: bold;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.contenedor-cita__servicios {
  margin-top: 1rem;
  h2,
  p {
    text-align: center;
  }
}

.bloque-servicios {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;

  &__servicio {
    background-color: map-get($colors, white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 6em;
    /*   border: 2px solid map-get($colors, red-color); */
    border-radius: 18px;
    h3 {
      color: map-get($colors, second-color);
      text-align: center;
      font-size: 1rem;
    }
    strong {
      font-weight: bold;
      font-size: 1.1rem;
      color: map-get($colors, second-color);
      text-align: center;
    }
    &:hover {
      background-color: map-get($colors, second-color);

      transition: all 0.5s ease;
      cursor: pointer;
      h3 {
        color: map-get($colors, white-color);
      }
      strong {
        color: map-get($colors, white-color);
      }
    }
  }
}

.contenedor-cita__info-cita {
  width: 100%;

  margin-top: 1rem;
  h2,
  p {
    text-align: center;
    margin-top: 1rem;
  }
  p {
    margin-bottom: 1rem;
  }

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    label {
      align-self: flex-start;
      padding: 0.5rem 1rem;
      width: 7rem;
    }
  }

  input {
    border: 1px solid map-get($colors, white-color);
    border-radius: 16px;
    background-color: map-get($colors, white-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.3rem;
    margin-bottom: 2rem;
    width: 100%;
    color: black;
  }

  .info-cita_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.cita-btn {
  background-color: map-get($colors, white-color);
  border: 1px solid map-get($colors, red-color);
  color: map-get($colors, red-color);
  width: 10rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.6rem 1rem;
  cursor: pointer;
  &:hover {
    background-color: map-get($colors, second-color);
    color: map-get($colors, white-color);
    transition: all 0.5s ease;
  }
}

.contenedor-cita__resumen {
  width: 100%;
  h2 {
    text-align: center;
  }
  margin-top: 2rem;
  .resumen-cita {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
  }
  .resumen-servicios {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid map-get($colors, white-color);
  }
  .resumen-btn {
    margin-top: 1rem;
    .cita-btn {
      @include margin-lat;
    }
    button {
      margin-top: 3rem;
    }
  }
}
