$colors: (
  dark-color-shadow: rgb(0, 0, 0, 0.6),
  white-color: #ffffff,
  second-color: #e74c3c,
  second-color-opacity: rgb(169, 50, 38, 0.9),
  yelow-color: #f5ff1b,
  gray-color: #ecf0f1,
);

$headerHeight: 4rem;
