.none {
  display: none;
}

.header-background {
  background-color: map-get($colors, second-color-opacity);
  transition: all 0.8s ease;
}

.logo-wp {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 998;
  fill: white;
}

.click_citas {
  /* usar ara cuando se seleccione la cita */
  background-color: map-get($colors, second-color);
  color: map-get($colors, white-color);
}

.citas-opacity {
  opacity: 0;
}

.active-page {
  color: map-get($colors, red-color);
}

.centrar {
  width: 100%;
}

.opacity {
  opacity: 0;
}

.errorMessage {
  background-color: map-get($colors, red-color);
  display: block;
  width: 100%;
}

.click-servicios {
  background-color: map-get($colors, second-color);
  /*   color: white; */
}

.color-white {
  color: map-get($colors, white-color);
}

.border {
  border: 3px solid map-get($colors, red-color);
  background-color: map-get($colors, select-color);
}

.margin {
  margin-bottom: 1rem;
}

.list {
  list-style: circle;
}

.filter {
  visibility: hidden;
  opacity: 0;
  order: 1;
}

.icon-tabler-user,
.icon-tabler-shopping-cart {
  &:hover {
    fill: map-get($colors, red-color);
    transition: fill 0.5s ease;
  }
}

.text-carrito {
  font-size: 1rem;
  margin-right: 3rem;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-tabler-trash {
  cursor: pointer;
  &:hover {
    fill: map-get($colors, red-color);
    transition: fill 0.5s ease;
  }
}

.form-loader {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  @include margin-lat;
  img {
    width: 100%;
  }
}

.monto {
  width: 100%;
  text-align: center;
  background-color: black;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.prod_add,
.prod_subtract {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 18px;
}
.prod_add {
  width: 2rem;
  height: 2rem;
  padding: 0.08rem 0.1rem;
  margin-right: 0.5rem;
}
.prod_subtract {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  padding: 0.09rem 0.5rem;
}
.rowTrash {
  cursor: pointer;
  span {
    font-size: 1.5rem;
    padding: 0.1rem 0.4rem;
    border-radius: 16px;
    font-weight: bolder;
    background-color: red;
  }
}
